#inner-in-content::-webkit-scrollbar {
    width: 10px;
}
#inner-in-content::-webkit-scrollbar-track {
    background: #FFF;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
}
#inner-in-content::-webkit-scrollbar-thumb {
    background: #CCC;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
	display: block
}
#inner-in-content::-webkit-scrollbar-thumb:hover {
    background: #AAA;
}
#inner-in-content::-webkit-scrollbar-thumb:active {
    background: #888;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
}
#history-list::-webkit-scrollbar {
    width: 10px;
}
#history-list::-webkit-scrollbar-track {
    background: #FFF;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
}
#history-list::-webkit-scrollbar-thumb {
    background: #CCC;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
	display: block
}
#history-list::-webkit-scrollbar-thumb:hover {
    background: #AAA;
}
#history-list::-webkit-scrollbar-thumb:active {
    background: #888;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
}
#ext-player-list::-webkit-scrollbar {
    width: 10px;
}
#ext-player-list::-webkit-scrollbar-track {
    background: #FFF;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
}
#ext-player-list::-webkit-scrollbar-thumb {
    background: #CCC;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
	display: block
}
#ext-player-list::-webkit-scrollbar-thumb:hover {
    background: #AAA;
}
#ext-player-list::-webkit-scrollbar-thumb:active {
    background: #888;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
}