@font-face {
  font-family: 'Droid Sans';
  src: url('fonts/DroidSans.ttf');
}
@font-face {
  font-family: 'Droid Sans Bold';
  src: url('fonts/DroidSans-Bold.ttf');
}
@font-face {
  font-family: 'Glyphs';
  src: url('../../node_modules/pw-wcjs-player/fonts/glyphicons.ttf');
}
* { margin: 0 }
html, body { height: 100% }
body {
	font-family: 'Droid Sans', sans-serif;
	background: #fff;
	overflow-y:hidden;
	overflow-x:hidden;
	height: 100%
}
#player_wrapper {
    min-height: 100%;
    height: 1px;
	width: 1px;
    margin: 0 auto;
	overflow: hidden;
	background: #fff;
	z-index: 1003;
	position: relative
}
#holdCenter {
	width: 418px;
	display: block;
	padding: 10px;
	background: rgba(0,0,0,0.3);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px
}
#main { height: 100%; width: 100%; display: table }
.wrapper { display: table-cell; height: 100%; vertical-align: middle }
#logoBig { margin-top: 47px; margin-bottom: 13px; margin-left: 58px }
#formHolder {
	display: block;
	padding: 6px 10px;
	padding-right: 19px;
	background: rgba(255,255,255,0.7);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px
}
#magnetForm { height: 47px }
#magnetLink { width:300px }
#magnetSubmit { position: relative; top: 1px; left: 8px }
#holder {
  border: 3px dashed #ccc;
  min-width: 580px;
  mix-height: 380px;
  width: 90%;
  height: 90%;
  max-width: 726px;
  max-height: 525px;
  background: #f4f4f4;
  margin: 20px;
}
#holder.hover { border: 3px dashed #383838 }
#torrentBut {
	-webkit-box-shadow: 0px 2px 0px 0px rgba(61,142,96,1);
	-moz-box-shadow: 0px 2px 0px 0px rgba(61,142,96,1);
	box-shadow: 0px 2px 0px 0px rgba(61,142,96,1);
	background: #00b850;
	cursor: pointer
}
#torrentBut:hover {
	-webkit-box-shadow: 0px 2px 0px 0px rgba(0,113,49,1);
	-moz-box-shadow: 0px 2px 0px 0px rgba(0,113,49,1);
	box-shadow: 0px 2px 0px 0px rgba(0,113,49,1);
	background: #0D8843
}
#videoBut {
	-webkit-box-shadow: 0px 2px 0px 0px rgba(61,135,170,1);
	-moz-box-shadow: 0px 2px 0px 0px rgba(61,135,170,1);
	box-shadow: 0px 2px 0px 0px rgba(61,135,170,1);
	background: #1ca8ed;
	cursor: pointer
}
#videoBut:hover {
	-webkit-box-shadow: 0px 2px 0px 0px rgba(2,89,131,1);
	-moz-box-shadow: 0px 2px 0px 0px rgba(2,89,131,1);
	box-shadow: 0px 2px 0px 0px rgba(2,89,131,1);
	background: #036FA4
}
#linkBut {
	-webkit-box-shadow: 0px 2px 0px 0px rgba(210,83,61,1);
	-moz-box-shadow: 0px 2px 0px 0px rgba(210,83,61,1);
	box-shadow: 0px 2px 0px 0px rgba(210,83,61,1);
	background: #f1664f;
	cursor: pointer
}
#linkBut:hover {
	-webkit-box-shadow: 0px 2px 0px 0px rgba(175,38,17,1);
	-moz-box-shadow: 0px 2px 0px 0px rgba(175,38,17,1);
	box-shadow: 0px 2px 0px 0px rgba(175,38,17,1);
	background: #DE4027
}
.mainButtons {
	color: #fff;
	width: 130px;
	height: 110px;
	border-radius: 4px;
	display: inline-block
}
.easy-modal,
.easy-modal-animated,
.second-easy-modal-animated,
.third-easy-modal-animated,
.forth-easy-modal-animated,
.unsupported-easy-modal-animated,
.history-easy-modal-animated {
	width: 438px;
	padding: 2em;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.35);
	background: #fff;
}
.unsupported-easy-modal-animated { padding: 5px; top: 35% !important }
.third-easy-modal-animated,
.forth-easy-modal-animated,
.history-easy-modal-animated,
#file-settings { padding: 5px; top: 22% !important }
a.mainLinks { color: #1ca8ed; text-decoration: underline }
a.mainLinks:hover { text-decoration: none }
#header_container {
	background: #5AA5C9;
	border-bottom:1px solid #b5b5b5;
	left:0;
	position:fixed;
	width:100%;
	top:0;
	padding-top: 8px;
	z-index: 1001
}
#header {
	line-height:25px;
	margin:0 auto;
	width:100%;
	text-align:center;
	font-size: 15px;
}
.progress .progressbar-back-text { right: 0 }
.files { cursor: pointer }
.files:hover { background: #E0F4FD !important }
.progress { background: #ebebea }
i.glyphs {
	font-family: 'Glyphs';
	width: 34px;
	height: 32px;
	display: inline-block;
	text-align: center;
	line-height: 32px;
	border-radius: 4px;
	color: #fff;
	font-style: normal;
	cursor: pointer;
}
i.pause {
	font-size: 28px !important;
	position: relative;
	top: -1px;
}
i.settings {
	background: #5cb85c !important;
	font-size: 27px;
	position: relative;
	top: -2px;
}
i.play:before { content: "\E82D" }
i.pause:before { content: "\E82E" }
i.settings:before { content: "\E801" }
i.play:hover { background: #EF4A1F !important }
i.pause:hover { background: #CE9707 !important }
i.settings:hover { background: #4A8B00 !important }
a.pl-settings {
	color: #ccc;
	font-size: 30px;
	text-decoration: none;
	float: right;
	font-style: normal;
	margin-right: 12px;
	margin-top: 5px;
}
a.pl-settings:hover { color: #FFA741 }
i.player-settings:before {
	font-family: 'Glyphs';
	content: "\E801";
	font-style: normal
}
a.history-button {
	color: #ccc;
	font-size: 26px;
	text-decoration: none;
	float: right;
	font-style: normal;
	margin-right: 12px;
	margin-top: 8px;
}
a.history-button:hover { color: #FFA741 }
i.history-icon:before { font-family: 'Glyphs'; content: "\E806"; font-style: normal }
i.close-icon:before { font-family: 'Glyphs'; content: "\E896"; font-style: normal }
.actionButton {
	width: 100%;
	height: 43px;
	line-height: 43px;
	cursor: pointer
}
.actionButton:hover { background: #0088cc; color: #fff }
.dropdown.dropdown-tip:before { left: 138px !important }
.dropdown.dropdown-tip:after { left: 139px !important }
#dropdown-1 {
	right: 5% !important;
	left: initial !important;
	font-size: 13px
}
#optionsBut {
	display: inline-block;
	height: 19px;
	line-height: 19px;
	width: 59px;
	text-align: center;
	float: right;
	font-size: 13px;
	color: #fff;
	background: #ff704a;
	border: 1px solid #b95e0d;
	text-decoration: none
}
#optionsBut:hover { background: #F65024 }
h2 {
	margin-bottom: 10px;
	color: #fff;
	font-size: 20px;
	margin: 0;
	padding: 9px;
	background: rgba(241,101,79,1);
	font-family: 'Droid Sans Bold';
	font-weight: normal;
	opacity: 1;
}
.change-set { background: #549AAE !important; cursor: pointer }
.change-set:hover { background: #0E586D !important }
.ui-spinner {
  height: 27.6px !important;
  width: 100px !important;
  line-height: 25.6px !important;
  font-size: 16px !important;
  margin-left: 5px !important;
}
input[type="file"] { display: none }
#tr-settings { display: none }
#open-file-settings { display: none }
#open-unsupported { display: none }
.clear { clear:both }
.droid-bold { font-family: 'Droid Sans Bold' !important }
.wrap-text { white-space: nowrap; text-overflow: ellipsis; overflow: hidden }
.goLeft { float:left }
.goRight { float:right }
.opaque { opacity:0 }
.hidden { display:none }
.stats {
	width: 90%;
	margin-top: 1px;
	color: #fff;
	text-align: center;
	font-size: 13px
}
#all-download { width: 90%; margin-top: 5px; margin-bottom: 1px }
#filesList {
	position: relative;
	width: 100%;
	z-index: 1000;
	font-size: 13px;
	color: #585247;
	display: none
}
#header_content { width: 90%; margin-left: 5% }
#header_text { width: 70%; color: #fff; text-align: left }
#optHold { width: 30% }
.headButs { margin-bottom: 10px; width: 45.5%; background: #1C728A }
.fl_dd {
	font-size: 36px;
	color: #767a7b;
	display: inline-block;
	margin-bottom: 2px
}
.fl_sl {
	font-size: 21px;
	color: #767a7b;
	font-weight: 100;
	margin-top: 13px;
	display: inline-block;
	margin-bottom: 11px
}
#mainButHold { width: 510px }
#torIcon { margin-top: 15px; margin-bottom: 11px }
#vidIcon { margin-top: 19px; margin-bottom: 16px }
#urlIcon { margin-top: 20px; margin-bottom: 9px }
.noMarginRight { margin-right: 0 }
#footer {
	color: #8c8c8c;
	line-height: 29px;
	margin-bottom: 40px;
	display: inline-block;
}
.pure-margin { margin-top: 10px !important }
.spBottom { margin-bottom: 10px }
#history-title {
	width: 82%;
	background: #1C728A;
	text-align: left;
	padding-left: 12px
}
.history-close {
	width: 8%;
	background: #549AAE;
	cursor: pointer;
	text-align: center
}
#history-list {
	text-align: left;
	margin-top: 5px;
	max-height: 259px;
	overflow-y: scroll;
	overflow-x: hidden
}
.history-item {
	padding-left: 10px;
	width: 100%;
	font-family: 'Droid Sans Bold';
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	box-sizing: border-box
}
.history-empty {
	width: 100%;
	text-align: center;
	font-family: 'Droid Sans Bold';
	padding: 15px 0;
	font-size: 17px
}