.wrapper {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.wrapper #holder {
  border: 3px dashed #ccc;
  min-width: 580px;
  mix-height: 380px;
  width: 90%;
  height: 90%;
  max-width: 726px;
  max-height: 525px;
  background: #f4f4f4;
  margin: 20px;
}