.wrapper {
  font-family: 'Droid Sans', sans-serif;
  display: table-cell;
  height: 100%;
  padding-top: 30px;
}

.wrapper .rightSide {
  max-width: ~"calc(100% - 290px)";
}

.torrentFileList {
  height: ~"calc(100% - 98px)";
  overflow-x: hidden;
  overflow-y: auto;
}

.torrentFileList::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.torrentFileList::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.torrentFileList::-webkit-scrollbar-thumb {
  background: #bebebe;
  border: 0px none #ffffff;
  border-radius: 0px;
}
.torrentFileList::-webkit-scrollbar-thumb:hover {
  background: #d3d3d3;
}
.torrentFileList::-webkit-scrollbar-thumb:active {
  background: #d3d3d3;
}
.torrentFileList::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.dashboardMenuButton {
  background-color: #303030;
  color: white;
  padding: 0px 12px;
  min-height: 37px;
}

.dashboardMenuButton:hover {
  background-color: #222;
}

.dashboardMenuHeader {
  height: 30px;
  width: 100%;
  background-color: #3a60db;
}

.dashboardFile:hover {
  background-color: #3a3a3a !important;
}

.dashboardBorder {
  border-bottom: 1px solid #222;
}

.wrapper .holder {
  border: 1px dashed #ccc;
  min-width: 580px;
  min-height: 380px;
  width: 90%;
  height: 70%;
  max-width: 726px;
  max-height: 525px;
  background: #f4f4f4;
  margin: 20px;
}

.wrapper .logoBig {
  margin-top: 47px;
  margin-bottom: 13px;
}

.wrapper .fl_dd {
  font-size: 36px;
  font-weight: 500;
  color: #767a7b;
  display: inline-block;
  margin-bottom: 2px
}
.wrapper .fl_sl {
  font-size: 21px;
  color: #767a7b;
  font-weight: 300;
  margin-top: 13px;
  display: inline-block;
  margin-bottom: 11px;
  font-family: 'Droid Sans', sans-serif;
}

.wrapper .settings {
  width: 46px !important;
  height: 46px;
  top: -5px;
  float: right;
}

.wrapper .torrent-dash {
  float: right;
  top: -5px;
  margin-right: -6px;
}

.wrapper .mainButHold { 
  width: 450px 
}

.mainButtonHolder {
  float: right;
  position: relative;
  width: 100%;
}

.inButtonHolder {
  position: absolute;
  width: 100%;
}

.wrapper .holder {
  background: rgb(244, 244, 244) !important;
  border: 3px dashed rgb(204, 204, 204) !important;
  box-shadow: none !important;
}
