.header{
    -webkit-app-region: drag;
    position: absolute;
    height: 30px;
    width: 100vw;
    top: 0;
}

.header h1 {
	position: absolute;
	width: 100vw;
	font-size: 15px;
	text-align: center;
	margin-top: 5px;
	font-weight: 300;
	color: black;
}


.header i {
    -webkit-app-region: no-drag;
    cursor: pointer;
}

.header.windows i{
    float: right;
}